.box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);}
.pre{
    animation:premouv 111.8s linear infinite, segmouv 50s linear;
}

@keyframes premouv {
    from {width: 300px; height: 75px; top: 52px;}
    to {width: 200px; height: 50px; top: 32px; }}
@keyframes segmouv {
    from {background-position: 0 0;}
    to {background-position: 2000px 0;}
}